include LICENSE CHANGELOG.md README.md
include requirements.txt
recursive-include bauh/desktop *
recursive-include bauh/view/resources *
recursive-include bauh/gems/*/resources *
recursive-include tests *
