[Desktop Entry]
Type=Application
Name=Applications manager ( bauh )
Name[pt]=Gerenciador de aplicativos ( bauh )
Name[es]=Administrador de aplicaciones ( bauh )
Name[ca]=Gestor d aplicacions ( bauh )
Name[it]=Gestore delle applicazioni ( bauh )
Name[de]=Anwendungsmanager ( bauh )
Categories=System;
Comment=Install and remove applications ( AppImage, AUR, Flatpak, Snap )
Comment[pt]=Instale e remova aplicativos ( AppImage, AUR, Flatpak, Snap )
Comment[es]=Instalar y eliminar aplicaciones ( AppImage, AUR, Flatpak, Snap )
Comment[it]=Installa e rimuovi applicazioni ( AppImage, AUR, Flatpak, Snap )
Comment[de]=Anwendungen installieren und entfernen ( AppImage, AUR, Flatpak, Snap )
Comment[ca]=Instal·lar i eliminar aplicacions ( AppImage, AUR, Flatpak, Snap )
Exec=/usr/bin/bauh
Icon=bauh